:root {
    --background-color: #181818;
    --container-background-color: #1e1e1e;
    --text-color: #ffffff;
    --input-background-color: #001127;
    --input-border-color: #00214a;
    --hover-background-color: #001f43;
    --play-button-background-color: #004fff;
    --play-button-color: #ffffff;
    --tag-background-color: #1e1e1e;
    --tag-hover-background-color: #333333;
    --primary-color: #004fff;
    --secondary-color: #0077ff;
    --card-title-color: #fff;
    --body-background-color: #000811;
    --card-container-background-color: #000e1e;
    --card-container-border-color:#001d46;
    --card-container-border-hover-color:#194786;
    --topbar-and-footer-container-background-color: #002652;
    --side-bar-container-color: #00ddff;
}

/* DashboardPage.css */
/* .dashboard {
    padding: 20px;
} */

.dashboard{
    padding: 20px;    
}

.dashboard h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.dashboard h3{
    color: #fff;
}

.filter {
    margin-bottom: 20px;
    text-align: center;
}

.total-rents-filter-form .filter-form{
    display: flex;
    gap: 10px;
}

.dashboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-container-background-color);
    border: 1px solid var(--card-container-border-color);
    border-radius: 8px;
    padding: 15px;
    width: calc(50% - 10px);
    /* Adjust to fit two cards in a row */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    height: 350px;
    /* overflow-y: scroll; */
}

.card:hover{
    border: 1px solid var(--card-container-border-hover-color);
}

.dashboard .custom-table {
    height: 50%;
    overflow-y: scroll;
}

.chart-placeholder {
    background-color: #f0f0f0;
    height: 150px;
    /* Placeholder height */
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

.date-placeholder {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .dashboard-row {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .dashboard {
        padding: 10px;
    }

    .dashboard h2 {
        font-size: 1.2em;
    }

    .filter {
        font-size: 0.9em;
    }

    .chart-placeholder {
        height: 100px;
        /* Reduce height for smaller screens */
    }

    .date-placeholder {
        font-size: 0.8em;
    }
}