:root {
    --background-color: #181818;
    --container-background-color: #1e1e1e;
    --text-color: #ffffff;
    --input-background-color: #001127;
    --input-border-color: #00214a;
    --hover-background-color: #001f43;
    --play-button-background-color: #004fff;
    --play-button-color: #ffffff;
    --tag-background-color: #1e1e1e;
    --tag-hover-background-color: #333333;
    --primary-color: #004fff;
    --secondary-color: #0077ff;
    --card-title-color: #fff;
    --body-background-color: #000811;
    --card-container-background-color: #000e1e;
    --topbar-and-footer-container-background-color: #002652;
    --side-bar-container-color: #001329;
    --filter-form-background-color: #00214a;
    --modal-background-color: #17004a;
    --modal-input-background-color:#17004a;
    --modal-input-border-color:#4400d6;
}

.scooter-page {
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
    gap: 20px;
    /* background-color: var(--body-background-color); */
    color: var(--text-color);
}

.scooter-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
    align-self: center;
    color: var(--card-title-color);
}

.form-and-table-container{
    display: flex;
    max-height: 80vh;
    gap: 10px
}

.scooter-page .filter-form,
.scooter-page .custom-table {
    margin-bottom: 20px;
    scrollbar-color: var(--topbar-and-footer-container-background-color) transparent; /* Thumb and track color */
    scrollbar-width: thin; /* Thin scrollbar */
}

.scooter-page .filter-form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 400px;
    overflow: auto;
    padding: 20px;
    background-color: var(--filter-form-background-color);
    color: var(--text-color);
    border-radius: 10px;
    
    scrollbar-color: var(--input-background-color) transparent; /* Thumb and track color */
    scrollbar-width: thin; /* Thin scrollbar */
}

.scooter-page .filter-form-range {
        display: flex;
        justify-content: space-between;
        /* overflow-x: scroll; */
        /* width: 40px; */
}

.scooter-page .filter-form-range label {
    align-self: center;
    width: 80px;
    margin-right: 5px;
    /* overflow-x: scroll; */
    /* width: 40px; */
}



.filter-fields,
.filter-checkboxes,
.filter-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-form-input-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
    
}

.scooter-page [type="date"], .scooter-page [type="number"], .scooter-page select {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-radius: 4px;
}





.filter-form label {
    color: var(--text-color);
}

.filter-field input,
.filter-checkboxes input {
    padding: 5px;
    font-size: 14px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

.filter-checkbox label {
    color: var(--text-color);
}

.filter-buttons button,
.custom-table button {
    padding: 8px 15px;
    border: none;
    color: var(--play-button-color);
    font-size: 14px;
    cursor: pointer;
    background-color: var(--hover-background-color);
    border-radius: 4px;
}

.custom-table button {
    min-width: 100%;
}

.scooter-page .custom-table {
    overflow-y: scroll;
    height: 80vh;
    width: 100%;
    background-color: var(--card-container-background-color);
    border-radius: 10px;
}

.custom-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--card-container-background-color);
}

.custom-table th,
.custom-table td {
    border: 1px solid var(--input-border-color);
    padding: 8px;
    color: var(--text-color);
}

.custom-table th {
    background-color: var(--topbar-and-footer-container-background-color);
    font-weight: bold;
}

.custom-table button {
    margin-right: 5px;
}

.custom-table button:nth-child(1) {
    background-color: var(--primary-color);
}

.custom-table button:nth-child(2) {
    background-color: var(--secondary-color);
}

.custom-table button:nth-child(3) {
    background-color: var(--hover-background-color);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.modal-content{
    background-color: #0d0028;
    border: 1px solid var(--modal-input-border-color); ;
}


.modal-content [type="date"], .modal-content [type="text"], .modal-content [type="number"], .modal-content select {
    width: 100%; 
    padding: 10px;
    margin: 3px 0;
    border: 1px solid var(--modal-input-border-color);
    background-color: var(--modal-input-background-color);
    color: var(--text-color);
    border-radius: 4px;
}