:root {
  --background-color: #181818;
  --container-background-color: #1e1e1e;
  --text-color: #ffffff;
  --input-background-color: #001127;
  --input-border-color: #00214a;
  --hover-background-color: #001f43;
  --play-button-background-color: #004fff;
  --play-button-color: #ffffff;
  --tag-background-color: #1e1e1e;
  --tag-hover-background-color: #333333;
  --primary-color: #004fff;
  --secondary-color: #0077ff;
  --card-title-color: #fff;
  --body-background-color: #000811;
  --card-container-background-color: #000e1e;
  --topbar-and-footer-container-background-color: #002652;
  --side-bar-container-color: #001329;
  --filter-form-background-color: #00214a;
  --modal-background-color: #17004a;
  --modal-input-background-color:#17004a;
  --modal-input-border-color:#4400d6;
  --control-geofence-background-color: #001329;
}

.geofencing-page-main {
  padding: 0;
}

.geofence-container{
  display: flex;
}

.geofence-control{
  padding: 15px;
  background-color: var(--control-geofence-background-color);
  width: 25%;
}

.geofence-list-item{
  background-color: white;
}

.map-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
  }
  
  /* .map-controls button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  .map-controls button:disabled {
    background-color: #ccc;
  }
 
  .leaflet-control-custom {
    z-index: 1000; /* Ensure it displays on top of map elements */
  }
  
  